@import "components.css";

.noise {
  background-image: url("../public/bg.png");
  background-opacity: 0.1;
  background-repeat: repeat, repeat;
  background-size: 200px 200px, 200px 200px;
}

body {
  opacity: 0;
}

body.loaded {
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

[include-html] {
  min-height: 1rem;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(192, 199, 189, 0.75);
  opacity: 0.75;
  margin-bottom: 1rem !important;
  border-radius: 0.15rem;
}

p,
h3 {
  padding-bottom: 1rem;
}

.toast {
  visibility: hidden;
  min-width: 200px;
  margin-left: -100px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 12px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 14px;
}

.toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
